<h1 class="text-center">Редактирование офиса</h1>
<%= form_for :mfcoffice, :html => {:class => 'form-horizontal'}, url: mfcoffice_path(@mfcoffice.id), method: :put do |f| %>

  <% if @mfcoffice.errors.any? %>
    <div id="error_explanation">
      <h2>
       Ошибки при сохранении:
      </h2>
      <ul>
      <!-- TODO: как их перевести с английского? Как задать нормальный человекопонятный формат?  -->
        <% @mfcoffice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <!-- FIXME: не редактируются адреса. разобраться, как сделать --->

  <div class="form-group">
    <%= f.label :'Тип офиса', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :type, class: "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label 'Регистрационный номер ЕСИА', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :esia, class: "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label 'Наименование офиса', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :name, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'Краткое наименование офиса', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :short_name, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'Директор', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :director, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'ОГРН', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :ogrn, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'КПП', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :kpp, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'ОКОГУ', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :okogu, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'ОКПО', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :okpo, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'Телефон', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :phone, class: "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label 'Сайт', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :site, class: "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'Электронная почта', class: "col-md-4 control-label" %>
    <div class="col-md-4"><%= f.text_field :email, class: "form-control" %></div>
  </div>

 
    <%= f.submit "Сохранить", class: "btn btn-default btn-primary" %>

<% end %>

<%= link_to '<<', mfcoffices_path, class: 'btn btn-success btn-primary' %>
