<%= form_for :mfcoffice, url: mfcoffices_path do |f| %>
  <p>
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </p>
 
  <p>
    <%= f.label :esia %><br>
    <%= f.text_field :esia %>
  </p>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name %>
  </p>
  <p>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </p>
  <p>
    <%= f.label :ogrn %><br>
    <%= f.text_field :ogrn %>
  </p>
  <p>
    <%= f.label :kpp %><br>
    <%= f.text_field :kpp %>
  </p>
  <p>
    <%= f.label :okogu %><br>
    <%= f.text_field :okogu %>
  </p>
  <p>
    <%= f.label :okpo %><br>
    <%= f.text_field :okpo %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
