<h1>Создание офиса</h1>
<%= form_for :mfcoffice, :html => {:class => 'form-horizontal'}, url: mfcoffices_path do |f| %>

  <% if @mfcoffice.errors.any? %>
    <div id="error_explanation">
      <h2>
       Ошибки при сохранении:
      </h2>
      <ul>
      <!-- TODO: как их перевести с английского? Как задать нормальный человекопонятный формат?  -->
        <% @mfcoffice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :'Тип офиса' %><br>
    <%= f.text_field :type, :value => 'back' %>
  </p>
 
  <p>
    <%= f.label 'Регистрационный номер ЕСИА' %><br>
    <%= f.text_field :esia, :value => '123' %>
  </p>
 
  <p>
    <%= f.label 'Наименование офиса' %><br>
    <%= f.text_field :name, :value => 'Главный офис' %>
  </p>
  <p>
    <%= f.label 'Краткое наименование офиса' %><br>
    <%= f.text_field :short_name, :value => 'Главный' %>
  </p>
  <p>
    <%= f.label 'Директор' %><br>
    <%= f.text_field :director, :value => 'Директор' %>
  </p>
  <p>
    <%= f.label 'ОГРН' %><br>
    <%= f.text_field :ogrn, :value => '1234567890123' %>
  </p>
  <p>
    <%= f.label 'КПП' %><br>
    <%= f.text_field :kpp, :value => '123456789' %>
  </p>
  <p>
    <%= f.label 'ОКОГУ' %><br>
    <%= f.text_field :okogu, :value => '1234567' %>
  </p>
  <p>
    <%= f.label 'ОКПО' %><br>
    <%= f.text_field :okpo, :value => '12345678' %>
  </p>
  <p>
    <%= f.label 'Телефон' %><br>
    <%= f.text_field :phone, :value => '1234567890' %>
  </p>

  <p>
    <%= f.label 'Сайт' %><br>
    <%= f.text_field :site, :value => 'www.ru' %>
  </p>
  <p>
    <%= f.label 'Электронная почта' %><br>
    <%= f.text_field :email, :value => 'a@b.ru' %>
  </p>

 <p>Юридический адрес</p>

  <p>
    <%= f.label :индекс %><br>
    <%= f.text_field :jur_address_zip, :value => '123123' %>
  </p>

  <p>
    <%= f.label :регион %><br>
    <%= f.text_field :jur_address_country, :value => 'Коми' %>
  </p>
  <p>
    <%= f.label :район %><br>
    <%= f.text_field :jur_address_district, :value => '' %>
  </p>
  <p>
    <%= f.label :'населенный пункт' %><br>
    <%= f.text_field :jur_address_settlement, :value => 'Сык' %>
  </p>
  <p>
    <%= f.label :улица %><br>
    <%= f.text_field :jur_address_street, :value => 'Улица' %>
  </p>
  <p>
    <%= f.label :дом %><br>
    <%= f.text_field :jur_address_house, :value => '111' %>
  </p>


 <!-- FIXME: копипаста юр адреса. может можно объединить? -->
 <p>Фактический адресс</p>

  <p>
    <%= f.label :индекс %><br>
    <%= f.text_field :actual_address_zip, :value => '123123' %>
  </p>

  <p>
    <%= f.label :регион %><br>
    <%= f.text_field :actual_address_country, :value => 'Коми' %>
  </p>
  <p>
    <%= f.label :район %><br>
    <%= f.text_field :actual_address_district, :value => '' %>
  </p>
  <p>
    <%= f.label :'населенный пункт' %><br>
    <%= f.text_field :actual_address_settlement, :value => 'Сык' %>
  </p>
  <p>
    <%= f.label :улица %><br>
    <%= f.text_field :actual_address_street, :value => 'Улица' %>
  </p>
  <p>
    <%= f.label :дом %><br>
    <%= f.text_field :actual_address_house, :value => '111' %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to '<<', mfcoffices_path %>
