<p>
  <strong>Категория: </strong>
  <%= @mfcoffice.type %>
</p>
 
<p>
  <strong>Регистрационный номер ЕСИА:</strong>
  <%= @mfcoffice.esia %>
</p>

<p>
  <strong>Наименование офиса:</strong>
  <%= @mfcoffice.name %>
</p>

<p>
  <strong>Краткое наименование офиса:</strong>
  <%= @mfcoffice.short_name %>
</p>
<p>
  <strong>Директор:</strong>
  <%= @mfcoffice.director %>
</p>
<p>
  <strong>ОГРН:</strong>
  <%= @mfcoffice.ogrn %>
</p>
<p>
  <strong>КПП:</strong>
  <%= @mfcoffice.kpp %>
</p>
<p>
  <strong>ОКОГУ:</strong>
  <%= @mfcoffice.okogu %>
</p>
<p>
  <strong>ОКПО:</strong>
  <%= @mfcoffice.okpo %>
</p>
<p>
  <strong>Телефон:</strong>
  <%= @mfcoffice.phone %>
</p>
<p>
  <strong>Сайт:</strong>
  <%= @mfcoffice.site %>
</p>
<p>
  <strong>Электронная почта:</strong>
  <%= @mfcoffice.email %>
</p>

<p>Юридический адрес</p>
<p>
  <strong>Индекс:</strong>
  <%= @mfcoffice.jur_address.zip %>
</p>

<p>
  <strong>Регион:</strong>
  <%= @mfcoffice.jur_address.country %>
</p>
<p>
  <strong>Район:</strong>
  <%= @mfcoffice.jur_address.district %>
</p>
<p>
  <strong>Населенный пункт:</strong>
  <%= @mfcoffice.jur_address.settlement %>
</p>
<p>
  <strong>Улица:</strong>
  <%= @mfcoffice.jur_address.street %>
</p>
<p>
  <strong>Дом:</strong>
  <%= @mfcoffice.jur_address.house %>
</p>
<p>
  <strong>Корпус:</strong>
  <%= @mfcoffice.jur_address.building %>
</p>

<p>Фактический адрес</p>
<p>
  <strong>Индекс:</strong>
  <%= @mfcoffice.actual_address.zip %>
</p>

<p>
  <strong>Регион:</strong>
  <%= @mfcoffice.actual_address.country %>
</p>
<p>
  <strong>Район:</strong>
  <%= @mfcoffice.actual_address.district %>
</p>
<p>
  <strong>Населенный пункт:</strong>
  <%= @mfcoffice.actual_address.settlement %>
</p>
<p>
  <strong>Улица:</strong>
  <%= @mfcoffice.actual_address.street %>
</p>
<p>
  <strong>Дом:</strong>
  <%= @mfcoffice.actual_address.house %>
</p>
<p>
  <strong>Корпус:</strong>
  <%= @mfcoffice.actual_address.building %>
</p>

<%= link_to '<<', mfcoffices_path, class: 'btn btn-success btn-primary' %><br>
<%= link_to 'Редактировать', edit_mfcoffice_path(@mfcoffice.id), class: "btn btn-default btn-primary" %>
